<!--
<h1>Routing</h1>

<nav>
    <ul>
        <li>
            <a href="https://google.fr/">Google</a>
        </li>
        <li>
            <a routerLink="/first">First Component</a>
        </li>
        <li>
            <a routerLink="/second">Second Component</a>
        </li>
        <li>
            <a routerLink="/user/1">User 1</a>
        </li>
        <li>
            <a routerLink="/user/2">User 2</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
-->
<h1>TP 4</h1>
<app-users-list></app-users-list>